@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url('https://images.pexels.com/photos/1118873/pexels-photo-1118873.jpeg?cs=srgb&dl=pexels-jplenio-1118873.jpg&fm=jpg') no-repeat center center/cover;
  background-size: cover;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  overflow-y: auto;
}

.container {
  width: 90%;
  max-width: 600px;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-box {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 20px;
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

#cityInput {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  font-size: 16px;
  color: black;
}

#searchBtn {
  padding: 10px 20px;
  background: #e19f6f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

#searchBtn:hover {
  background: #f7da03;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.city-info {
  font-size: 28px;
  font-weight: bold;
}

.time-info {
  font-size: 35px;
  margin-top: 2px;
}

.title {
  font-size: 16px;
  margin-top: 5px;
}

.weather-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 0 0 45%;
}

.temp-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.temp-icon, .w-icon,
.weather-hourly td img,
.right .info-line img {
  width: 80px;  
  height: 80px;
  filter: brightness(0) saturate(100%) invert(100%);
}

.temperature {
  font-size: 48px;
  font-weight: bold;
}

.condition {
  margin-top: 10px;
  padding: 5px 10px;
  background: #ff6f61;
  border-radius: 5px;
  font-size: 25px;
  text-transform: uppercase;
  display: inline-block;
}

.right {
  flex: 0 0 50%;
  padding-left: 20px;
}

.right .info-line {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 8px 12px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.right .info-line img {
  width: 20px;
  height: auto;
  margin-right: 8px;
}

.right .info-line span {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.weather-hourly {
  overflow-x: auto;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: white;
}

.weather-hourly::-webkit-scrollbar {
  display: none;
}
.weather-hourly {
  scrollbar-width: none;
}

.weather-hourly table {
  width: 100%;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.2);
}

.weather-hourly th {
  padding: 4px;
  text-align: center;
  border: 1px solid #444;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 12px;
}

.weather-hourly td {
  padding: 4px;
  text-align: center;
  border: 1px solid #666;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  white-space: nowrap;
  font-size: 12px;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .weather-hourly table {
    width: 100%;
  }
  .weather-hourly th,
  .weather-hourly td {
    font-size: 10px;
    padding: 2px;
  }
}


/* Future Forecast */
.future-forecast {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  justify-content: flex-start;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  overflow-x: auto;
  color: white;
}

.future-forecast::-webkit-scrollbar {
  display: none;
}

.future-forecast {
  scrollbar-width: none;
}

.weather-forecast-item {
  flex: 0 0 auto;
  width: 250px;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.85);
  text-align: center;
  font-size: 15px;
  text-transform: capitalize;
}

.weather-forecast-item .day {
  padding: 4px 10px;
  background: #3C3C44;
  border-radius: 50px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 8px;
}

.weather-forecast-item .temp {
  font-weight: bold;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .weather-main {
    flex-direction: column;
    align-items: center;
  }
  .left,
  .right {
    flex: 1 1 100%;
    padding: 0;
  }
  .right {
    margin-top: 20px;
  }
  .temp-group {
    justify-content: center;
  }
}

@media only screen and (max-width: 730px) {
  .container {
    width: 100%;
  }
  .future-forecast {
    overflow-x: scroll;
    padding: 15px;
  }
  .weather-forecast-item {
    min-width: 200px;
    font-size: 14px;
  }
}